<section class="partners">
    <div class="containers">
        <div class="row">
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
            <div class="col-md-2">
                <img src="assets\images\mini-carousel\1.jpg" 
                    width="120px" height="80px"
                alt="">
            </div>
        </div>
    </div>
</section>

<div class="slider">
    <div class="image">
        <img src="assets\images\baner-right-image-01.jpg" alt="">
    </div>
</div>