<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="mainContainer">
    <div class="content">
        <div class="header">
            <h1>Angular File Upload</h1>
        </div>
        <div class="row margin25">
            
            <div class="col-md-4">
          
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span>
                </div>
                <div class="custom-file">
                    <form method="post" enctype="multipart/form-data">
                      <input (change)="fileChange($event)"  type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    </form>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
          
              </div>
          </div>
    </div>
</div> -->

<app-eshoppers></app-eshoppers>






<!-- 

<div class="col-md-6 offset-md-3 mt-5">
	<a target="_blank" href="https://getform.io?ref=codepenHTML">
		<img src='https://i.imgur.com/O1cKLCn.png'>
	</a>
	<br>
	{{User | json}}
	<form accept-charset="UTF-8" action="https://getform.io/f/{your-form-endpoint-goes-here}" method="POST"
		enctype="multipart/form-data" target="_blank">
		<div class="form-group">
			<label for="exampleInputName">Full Name</label>
			<input type="text" name="fullname" class="form-control" id="exampleInputName"
				placeholder="Enter your name and surname" required="required" [(ngModel)]="User.fullname">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1" required="required">Email address</label>
			<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
				placeholder="Enter email" [(ngModel)]="User.email">
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Choose File</label>
			<select class="form-control" id="exampleFormControlSelect1" name="platform" required="required" [(ngModel)]="User.fileName">
				<option>Aadhar Card</option>
				<option>PAN Card</option>
				<option>Establishment Certificate</option>
			</select>
		</div>
		<hr>
		<div class="form-group mt-3">
			<label class="mr-2">Upload Document:</label>
			<input type="file" name="file" (change)="onChangeFileField($event)" >
		</div>
		<hr>
		<button type="submit" class="btn btn-primary" (click)="doRegister()">Submit</button>
	</form>
</div> -->






<!--
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<title>Login Page</title>
</head>
<body>

	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Your Company Logo</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								 <span class="fa fa-lock"></span> 
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid text-center footer">
		<p>Coded with &hearts; by <a href="https://bit.ly/yinkaenoch">Yinka.</a></p>
	</div>
</body> -->


<!-- 
<div class="container">
    <h1>Use Bootstrap 3's carousel to show multiple items per slide.</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide multi-item-carousel" id="theCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?fremantle,australia" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?west-australia" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?quokka,perth" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?margaretriver,australia" class="img-responsive"></a></div>
            </div>
            
            <div class="item">
              <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia&r=7" class="img-responsive"></a></div>
            </div>
            
          </div>
          <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script>
    
$('.multi-item-carousel').carousel({
  interval: false
});

$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
  </script> -->